<aside>
    <div>
        {{> 'sign-up-form'}}

        <div class="social">
            <h4>Get in touch</h4>
            <p>You can <a href="https://twitter.com/boldlybryan">follow me on twitter</a> or <a href="https://instagram.com/boldlybryan">stalk me on instagram</a> or <a href="https://www.are.na/bryan-king">rifle through my stash on are.na</a> or <a href="mailto:bryan@bryanking.blog">send an email?</a></p>
            <p>If you're into this sort of thing, here's my <a href="/rss">RSS feed</a></p>
        </div>
        <!--div class="social">
            <h4>Greatest Hits</h4>
        </div-->
        <!--h3>Bio</h3>
        <p>Lorem ipsum yada yada</p-->

    </div>
</aside>