    <header class="site-header">
        <a href="/" class="logo">{{@site.title}}</a>
        <nav>{{navigation}}</nav>
        <div>
            <!--h2>Bio</h2>
            <p>Lorem ipsum yada yada</p-->
            <h2>Notifications</h2>
            <div style="margin-top: 0.5rem;">
                <a href="/rss">RSS feed</a>,&nbsp;
                <a href="https://www.bryanking.blog/#/portal/signup">Electronic Mail</a>
            </div>
        </div>
    </header>