    <header class="site-header">
        <a href="/" class="logo">{{@site.title}}</a>
        <nav>{{navigation}}</nav>
        <div>
            <h2>Bio</h2>
            <p>Lorem ipsum yada yada</p>
            <h2>Notifications</h2>
            <ul>
                <li>
                    <a href="/feed">RSS feed</a>
                </li>
                <li>
                    <a href="/">Twitter feed</a>
                </li>
                <li>
                    <a href="">Email Delivery</a>
                </li>
            </ul>
        </div>
    </header>