:root {
    --fg: #111;
    --bg: #fff;
    --mid1: #888;
    --mid2: #bbb;
    --mid3: #ccc;
    --mid4: #eee;
}

@media screen and (prefers-color-scheme:dark){
    :root{
        --fg:#eee;
        --bg:#111;
        --mid1: #aaa;
        --mid2: #555;
        --mid3: #444;
        --mid4: #222;
    }
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--fg);
    background-color: var(--bg);
}

a {
    color: var(--fg);
}

body {
    padding: 2rem 1rem;
}

body > div {
    display: flex;
    justify-content: space-between;
}

main {
    max-width: 35rem;
    width: 100%;
}

aside {
    flex-basis: 320px;
    color: var(--mid1);
    border-left: 1px solid var(--mid4);
    padding-left: 2rem;
    margin-bottom: 8rem; /*terminates border of sidebar before it intersects border on pagination */
}

aside p {
    font-size: 0.875rem;
}

aside a,
.site-header a {
    color: var(--mid1);
}

aside a:hover,
.site-header a:hover {
    color: blue;
}

.content {
    -webkit-hyphens: auto;
    hyphens: auto;
    line-height: 1.35;
}

.content p,
.content blockquote,
.content ul,
.content ol {
    font-family: 'Georgia', serif;
}

figcaption {
    text-align: center;
    opacity: 0.65;
    font-size: 0.875rem;
}

blockquote {
    border-left: 2px solid #ccc;
    padding: 1rem;
    margin: 0 1rem;
}

.title {
    margin-bottom: 0.125rem;
}

.post:not(:first-of-type){
    padding-top: 2rem;
    margin-top: 4rem;
    border-top: 1px solid var(--mid2);
}

hr {
    border: none;
}

hr:after {
    content: "\2217\2217\2217";
    display: block;
    font-size: 1rem;
    margin: 1rem auto;
    text-align: center;
    color: var(--mid1);
}

.site-header .container {
    align-items: baseline;
}

.site-header ul.nav {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid var(--mid4);
}

.site-header ul.nav li {
    display: inline-block;
}

.site-header ul.nav li:not(:first-of-type) {
    margin-left: 0.5rem;
}

@media screen and (max-width: 40rem){
    .site-header .container {
        flex-direction: column;
    }
    .site-header ul.nav li {
        display: block;
    }
    .site-header ul.nav li:not(:first-of-type) {
        margin-top: 0.25rem;
        margin-left: 0;
    }
}

.container {
    display: flex;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

[data-members-form] input {
    display: block;
    width: 100%;
    max-width: 30ch;
    padding: 0.25rem;
    border-radius: 0;
    border: 1px solid var(--mid3);
    margin-bottom: 0.5rem;
}

[data-members-form] button {
    display: block;
    padding: 0.25rem .50rem;
    border-radius: 0;
    border: 1px solid var(--mid3);
    margin-top: 0.75rem;
}

[data-members-form] label {
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

[data-members-form] {
    border-bottom: 1px solid var(--mid4);
    padding-bottom: 1rem;
}

[data-members-form] h4 {
    margin: 0; 
}

[data-members-form] p:first-of-type {
    font-size: 0.875rem;
    margin: 0.5rem 0;
}

[data-members-form] .login-link {
    font-size: 0.75rem;
}

[data-members-form].loading .signup-box {
    opacity: 0.5;
}

[data-members-form].success .signup-box {
    display: none;
}

[data-members-form] .message-box {
    display: none;
}

[data-members-form].success .login-link {
    display: none;
}

[data-members-form].success .message-box,
[data-members-form].error .message-box {
    display: block;
}

[data-members-form].success .message-box {
    color: darkgreen;
}

[data-members-form] .message-box .success-message {
    display: none;
}

[data-members-form].success .message-box .success-message {
    display: block;
}

[data-members-form].error input {
    border: 1px solid darkred;
}

[data-members-error]{
    color: darkred;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin-top: 5rem;
    border-top: 1px solid var(--mid4);
    color: var(--mid1)
}

.pagination a {
    color: var(--mid1);
}

.pagination div {
    width: 120px;
}
.pagination div:last-of-type {
    text-align: right;
}

aside .social {
    border-bottom: 1px solid var(--mid4);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

aside .social p {
    margin: 0.5rem 0;
}

aside .social h4 {
    margin: 0;
}

.kg-width-wide {
    width: 100%;
}

.kg-width-full {
    width: 100%;
}

.post .content li {
    margin-bottom: 1rem;
}

.page-photography main{
    max-width: 80rem;
}

.page-photography .post .content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 1rem;
}

.page-photography .post .content .kg-card {
    margin: 0;
}